@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Poiret+One&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/section2.css");
@import url("components/footer.css");

body {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    margin: 0px;
    background-color: #494544;
    color: white;
    line-height: 1.8;

}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    color: #D96704;
}



a {
    text-decoration: none;
}